<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/reminders">Reminder List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link navbar-left" href="/reminders">Reminder List</a>
      <a class="nav-item nav-link navbar-left" href="/reminder/new">Create</a>
      <a class="nav-item nav-link navbar-left" href="/reminder/search">Search</a>
      <a class="nav-item nav-link navbar-left" href="/friends">Following Friends</a>
    </div>
    
  </div>
  <% if (typeof user !== 'undefined') { %>
    <a class="nav-item nav-link navbar-left" href="/auth/logout">Logout</a>
    <img class="img-thumbnail navbar-right" src=<%= user.profileURL %> width=3% alt="Profile Img">
    <p class="navbar-text">Signed in as: <%= user.name %></p>
  <% } %>
</nav>