<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
</head>
<body>
    <h1>Meet The Team</h1>
    <div class="row">
        <div class="colume">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Jennie Wu</h2>
                    <p class="title">Product Manger</p>
                    <p>Jennie is a Term 2 CIT student with experience in designing and developing user interfaces, 
                        testing, and debugging. Proven ability in optimizing web functionalities that improve workflow 
                        efficiencies. </p>
                    <p>jwu356@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Victor Valero</h2>
                    <p class="title">Scrum Master</p>
                    <p>Victor is </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>