<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
</head>
<body>
    <div class="container">
        
    <div class="content">
        <form method="POST" action="https://simple-form.com/your-email-here">
            <div class="product">
                <div class="label">
                    <label for="prod">Product</label>
                </div>
                <div class="text">
                    <input type="text" id="prod" name="product" placeholder="product name">
                </div>
            </div>
            <div class="productcategory">
                <div class="label">
                    <label for="prodcat">Product Category</label>
                </div>
                <div class="text">
                    <input type ="text" id="prodcat" name="productcategory" placeholder="product category">
                </div>
            </div>
            <div class="productID">
                <div class="label">
                    <label for="prodID">Product ID</label>
                </div>
                <div class="text">
                    <input type="text" id="prodID" name="productID" placeholder="product ID">
                </div>
            </div>
            <div class="quantity">
                <
            </div>
    </div>
</body>
</html>

<!-- Product, Product Category, Product ID, Quantity In Stock,
     Price Unit, Vendor, Location