<head>
    <link rel="stylesheet" href="about.css"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACIT2911 Team 15 Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
    <script src=""></script>
</head>
<body data-theme="light">
    <div class="navbar">
        <ul>
            <li>
                <div class="nav-header">
                    <h1>Trackify</h1>
                </div>
            </li>
            <li>
                <div class="navigation"><button id="theme" class="theme-button">Dark Theme</button></div>
            </li>
            <li>
                <div class="navigation"><a href="/contact">Contact</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/about">About Us</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/create">Add Products</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Inventory</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Home</a></div>
            </li>
        </ul>
    </div>
    <h1>Meet The Team</h1>
    <p1><em>"Individual commitment to a group effort -- that is what makes a team work, a company work, a society work,
            a civilization work"</em> - Vince Lombardi</p1>
    <div class="row">
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Jennie Wu</h2>
                    <p class="title">Product Owner</p>
                    <p>Jennie is a Term 2 CIT student with experience in designing and developing user interfaces, testing, and debugging. She has proven ability in optimizing web functionalities that improve workflow efficiencies, as well as managing teams. </p>
                    <p>jwu356@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Victor Valero</h2>
                    <p class="title">Scrum Master</p>
                    <p>Victor is a Term 2 CIT student with experience in object oriented programming and Linux. His achievements includes developing a Discord Bot that simplifies getting information from the internet without leaving the application with simple commands.
                    </p>
                    <p>vvalero@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Anthony Yiu</h2>
                    <p class="title">Developer</p>
                    <p>
                        Anthony Yiu is a Term 1 CIT student with some previous experience in Computer Science while studying at Langara College.
                    </p>
                    <p>ayiu9@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Julian Zhu</h2>
                    <p class="title">Developer</p>
                    <p>
                        Julian Zhu is a Term 1 CIT student, previously studying Computer Science at Langara College.
                    </p>
                    <p>jzhu117@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Zhe (Jerry) Zhang</h2>
                    <p class="title">Developer</p>
                    <p>
                        Jerry Zhang is a Term 1 student in CIT project (Set B), learned C++ in UFV before went to BCIT. He is very interested in not only program languages, but also in front-end web developement.</p>
                    <p>zzhang155@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <!-- enter image tags here-->
                <div class="container">
                    <h2>Vincent Yu</h2>
                    <p class="title">Developer</p>
                    <p>
                        Vincent is a Term 1 CIT student that has a keen eye for detail. Using his artistic background, he seeks to incorporate his skills into front-end developing. He currently holds a Bachelors degree in Environmental Management at the University of Toronto.
                    </p>
                    <p>vyu27@my.bcit.ca</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>
</body>