
<div class="container">
    
<div class="content">
    <form method="POST" action="https://simple-form.com/your-email-here">
        <div class="product">
            <div class="label">
                <label for="prod">Product</label>
            </div>
            <div class="text">
                <input type="text" id="prod" name="product" placeholder="product name">
            </div>
        </div>
        <div class="productcategory">
            <div class="label">
                <label for="prodcat">Product Category</label>
            </div>
            <div class="text">
                <input type ="text" id="prodcat" name="productcategory" placeholder="product category">
            </div>
        </div>
        <div class="productID">
            <div class="label">
                <label for="prodID">Product ID</label>
            </div>
            <div class="text">
                <input type="text" id="prodID" name="productID" placeholder="product ID">
            </div>
        </div>
        <div class="quantity">
            <
        </div>
</div>

<!-- Product, Product Category, Product ID, Quantity In Stock,
     Price Unit, Vendor, Location