<head>
    <link rel="stylesheet" href="contact.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACIT2911 Team 15 Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body data-theme="light">
    <div class="navbar">
        <ul>
            <li>
                <div class="nav-header">
                    <h1>E-Commerce Inventory Tracker</h1>
                </div>
            </li>
            <li>
                <div class="navigation"><a href="/contact">Contact</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/about">About Us</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/create">Add Products</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Inventory</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Home</a></div>
            </li>
        </ul>
    </div>
    <h1>Contact Us</h1>
    <p>Please fill in your information and we will get back to you as soon as possible.</p>
    <div class="container">
        <form method="POST" action="https://simple-form.com/your-email-here">
            <div class="content">
                <div class="firstname">
                    <div class="label">
                        <label for="fname">First Name</label>
                    </div>
                    <div class="text">
                        <input type="text" id="fname" name="firstname" placeholder="your first name">
                    </div>
                </div>
                <div class="lastname">
                    <div class="label">
                        <label for="lname">Last Name</label>
                    </div>
                    <div class="text">
                        <input type="text" id="lname" name="lastname" placeholder="your last name">
                    </div>
                </div>
                <div class="email">
                    <div class="label">
                        <label for="contactemail">E-Mail</label>
                    </div>
                    <div class="text">
                        <input type="text" id="contactemail" name="email" placeholder="your contact email">
                    </div>
                </div>
            </div>
            <div class="message_subject">
                <div class="label">
                    <label for="subject">Subject</label>
                </div>
                <div class="text">
                    <select id="subject" name="subject">
                        <option value="none">--------</option>
                        <option value="inquiry">Inquiry</option>
                        <option value="concerns">Concern(s)</option>
                        <option value="feedback">Feedback</option>
                        <option value="other">Others</option>
                    </select>
                </div>
                <div class="subject">
                    <div class="label">
                        <label id="subject">Subject</label>
                    </div>
                    <div class="text">
                        <textarea id="subject" name="subject" placeholder="your message..."
                            style="height: 250px"></textarea>
                    </div>
                </div>
                <div class="submit">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>
