<div class="navbar">
    <div class="nav-header">
        <h1>E-Commerce Inventory Tracker</h1>
    </div>
    <nav>
        <ul>
            <li><div class="navigation"><a href="/">Home</a></div></li>
            <li><div class="navigation"><a href="/">Inventory</a></div></li>
            <li><div class="navigation"><a href="/create">Add Products</a></div></li>
            <li><div class="navigation"><a href="/about">About Us</a></div></li>
            <li><div class="navigation"><a href="/contact">Contact</a></div></li>
        </ul>          
    </nav>
</div>
<div class="container">
    <div class="content">
        <form method="POST" action="/create">
            <div class="product">
                <div class="label">
                    <label for="prod">Product</label>
                </div>
                <div class="text">
                    <input type="text" id="prod" name="product" placeholder="product name">
                </div>
            </div>
            <div class="productcategory">
                <div class="label">
                    <label for="product">Product Category</label>
                </div>
                <div class="text">
                    <input type ="text" id="product" name="product_category" placeholder="product category">
                </div>
            </div>
            <div class="quantity">
                <div class="label">
                    <label for="quant">Quantity In Stock</label>
                </div>
                <div class="text">
                    <input type="text" id="quant" name="qty" placeholder="available quantity">
                </div>
            </div>
            <div class="price">
                <div class="label">
                    <label for="punit">Price Unit</label>
                </div>
                <div class="text">
                    <input type="text" id="punit" name="price" placeholder="price per unit">
                </div>
            </div>
            <div class="vendor">
                <div class="label">
                    <label for="vend">Vendor</label>
                </div>
                <div class="text">
                    <input type="text" id="vend" name="vendor" placeholder="vendor name">
                </div>
            </div>
            <div class="location">
                <div class="label">
                    <label for="city">Location</label>
                </div>
                <div class="text">
                    <input type="text" id="city" name="location" placeholder="location (city)">
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

