<h1>E-Commerce Inventory Tracker</h1>
<div class="container">
    
    <div class="content">
        <div class="search">
            <label for="search">Search Products:</label>
            <input type="search">
        </div>

        <div class="order">
            <label for="sort">Order By:</label>
            <select name="order" id="order">
                <option value="alphabetical">Alphabetical</option>
                <option value="priceHigh">Price: High->Low</option>
                <option value="priceLow">Price: Low->High</option>
                <option value="quantityHigh">Quantity: High->Low</option>
                <option value="quantityLow">Quantity: Low->High</option>
            </select>
        </div>

        <div class="sort">

            <label for="priceRange">Price Range:</label>
            <input type="range" name="priceRange" id="priceRange" min="0" max="10000">
            <!-- max for ranges to be determined by maximum values in inventory-->

            <label for="quantityRange">Quantity Range:</label>
            <input type="range" name="quantityRange" id="quantityRange" min="0" max="10000">

            <label for="category">Categories:</label>
            <ul>
                <li>
                    <input type="checkbox" name="category1" id="category1">
                    <label for="category1">Category1</label>
                </li>
                <li>
                    <input type="checkbox" name="category2" id="category2">
                    <label for="category2">Category2</label>
                </li>
                <li>
                    <input type="checkbox" name="category3" id="category3">
                    <label for="category3">Category3</label>
                </li>
                <li>
                    <input type="checkbox" name="category4" id="category4">
                    <label for="category4">Category4</label>
                </li>
            </ul>

        </div>

        <table>
            <tr>
                <th>Product</th>
                <th>Product Category</th>
                <th>Product ID</th>
                <th>Quantity In Stock</th>
                <th>Price Unit</th>
                <th>Vendor</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>Apples</td>
                <td>Fruits</td>
                <td>QNFTM</td>
                <td>250</td>
                <td>$.99</td>
                <td>Kim's Farm</td>
                <td>Langley</td>
            </tr>
            <tr>
                <td>Oranges</td>
                <td>Fruits</td>
                <td>C2L09</td>
                <td>300</td>
                <td>$0.85</td>
                <td>Kim's Farm</td>
                <td>Langley</td>
            </tr>
            <tr>
                <td>Passion Fruits</td>
                <td>Fruits</td>
                <td>1NTUT</td>
                <td>260</td>
                <td>$3.00</td>
                <td>Hong's Exotic Foods</td>
                <td>Richmond</td>
            </tr>
            <tr>
                <td>Glazed Donuts</td>
                <td>Desserts</td>
                <td>3AHDX</td>
                <td>600</td>
                <td>$1.00</td>
                <td>Second Desserts</td>
                <td>Vancouver</td>
            </tr>
        </table>
    </div>
</div>