body {
    box-sizing: border-box;
    background-color: var(--background);
    font-family: 'IBM Plex Serif', sans-serif;
}

body[data-theme="light"] {
    --background: #D4C8BE;
    --background2: #af9f8c;
    --header: #3d362d;
    --background3: #c7c7bb;
    --hover: #e3e4e0;
    --sub-header: #7F867B;
    --text: #26233a;
    --text2: #000;
}

body[data-theme="dark"] {
    --background: #393552;
    --background2: #232136;
    --header: #e0def4;
    --background3: #575279;
    --hover: #817c9c;
    --sub-header: #9ccfd8;
    --text: #fff;
    --text2: #000;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--text2);
    background-color: var(--hover);
    border-radius: 4px;
    resize: vertical;
    width: 50rem;
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background3);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 16px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    margin-top: 10px;
    color: var(--text);
    background-color: var(--background2);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: var(--hover);
    color: var(--header);
}

.container {
    display: grid;
    grid-template-rows: 5rem 2fr 5rem;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 50rem 1fr;
    grid-template-areas:
    'content content content';
    height: auto;
    width: auto;
}

h1, p {
    margin-left: 1rem;
    color: var(--header)
}

.content {
    grid-area: content;
    padding-left: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background3);
    position: sticky;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar ul li {
    float: right;
    color: var(--header);
    border-left: 1px solid var(--background2);
}

.navbar ul li:not(:first-child):hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2);
    border-right: 1px solid var(--background2);
}

.navbar ul li:first-child {
    float: left;
    border-left: none;
}

li div a {
    text-decoration: none;
    display: block;
    padding: 16px 16px;
    float: right;
    color: var(--header);
    
}
li div a:hover:not(.active) {
    background-color: var(--hover);
}
.active {
    background-color: var(--sub-header);
    color: var(--text);
}

.nav-header h1{
    font-size: 20px;
}