body {
    margin: 0;
    padding: 0;
    background: #000000;
    color: #000000;
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 14px;
}

.body {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background-image: url(https://www.unleashedsoftware.com/assets/uploads/2018/09/manufacturing-inventory.jpg);
    background-size: cover;
    -webkit-filter: blur(15px);
    z-index: 0;
}

.grad {
    position: absolute;
    top: -20px;
    left: -20px;
    right: -40px;
    bottom: -40px;
    width: auto;
    height: auto;
    background: -webkit-
    gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65)));
    z-index: 1;
    opacity: 0.7;
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

.header div{
    float: left;
    color: #fff;
    font-family: 'IBM Plex Serif', sans-serif;
    font-size: 45px;
    font-weight: 200;
}

.header div span{
    color: #5379fa !important;
}

.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text] {
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
    font-family: 'IBM Plex Serif', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
    margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}

