* {
    font-family: 'IBM Plex Serif', sans-serif;
    box-sizing: border-box;
}

.navbar {
    background-color: #af9f8c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar ul li {
    float: left;
}

li div {
    display: block;
}


.nav-header h1{
    font-size: 20px;
}