<head>
    <link rel="stylesheet" href="contact.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACIT2911 Team 15 Project</title>
    <link rel="preconnect" href="https://fonts.gstatic.com/%22%3E">
    <link href=" https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <ul>
            <li>
                <div class="nav-header">
                    <h1>Trackify</h1>
                </div>
            </li>
            <li>
                <div class="navigation"><a href="/contact">Contact</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/about">About Us</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/create">Add Products</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Inventory</a></div>
            </li>
            <li>
                <div class="navigation"><a href="/">Home</a></div>
            </li>
        </ul>
    </div>
</body>