<div class="header">
    <div class="navigation"><a href="/">Home</a></div>
    <div class="navigation"><a href="/">Inventory</a></div>
    <div class="navigation"><a href="/create">Add Products</a></div>
    <div class="navigation"><a href="/about">About Us</a></div>
    <div class="navigation"><a href="/contact">Contact</a></div>
</div>