<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="meeting-time">Date</label>
      <input type="datetime-local" id="date" name="date" value="2018-06-12T19:30" min="2018-06-07T00:00" max="2018-06-14T00:00">
    </div>
    <div class="form-group">
      <label for="tags">Tags</label>
      <input type="text" name="tags" class="form-control" id="tagInput" placeholder="Seperate each tag by a comma">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
